/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Visuales
    5. Otros
*/
:root {
  /*Colores*/
  --fondo: hsl(257, 40%, 49%);
  --texto-boton: #6b5f93;
  --blanco: #fffffc;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--fondo);
  background-image: url(../images/bg-mobile.svg);
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  width: 100%;
  min-width: 320px;
  height: auto;
}
header img {
  width: 150px;
  height: auto;
  margin: 20px;
}
main {
  text-align: center;
}
.main-imagen {
  margin-top: 20px;
}
.main-imagen img {
  width: 80%;
  min-width: 320px;
}
.main-contenido {
  margin: 30px;
  color: var(--blanco);
}
.main-contenido h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.main-contenido p {
  font-size: 1.5rem;
  padding: 2px;
  margin-bottom: 15px;
}
.button {
  width: 200px;
  min-width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--blanco);
  color: var(--texto-boton);
  font-size: 1.6rem;
  background-color: var(--blanco);
}
